#container {
    display: grid;
    grid-template-columns: 450px 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#headerContainer {
    background-color: #7F2714;
    height: calc(100vh - 80px);
    padding: 40px;
    display: grid;
    align-items: center;
    position: relative;
}

#outlet {
    padding: 20px;
}