form {
    max-width: 600px;
    color: #7F2714;
}

form label {
    color: #FF9F06;
    display: block;
    font-size: 14px;
    cursor: text;
}

form input {
    border: 2px solid #7F2714;
    border-radius: 5px;
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #7F2714;
}

form input::placeholder {
    font-weight: normal;
    opacity: 1;
}

form .username {
    font-size: 18px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.filledData {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

form input:focus {
    outline: none;
    border-color: #FF9F06;
    color:#7F2714;
}

form input.readonly {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
    font-weight: bold;
}

form input.readonly:focus {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
}

form input.money::before {
    content: '$';
    color:#7F2714;
}

form select {
    border: 2px solid #7F2714;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #ffffff;
}

form input.error,
form select.error {
    border-color: hsl(0, 100%, 50%);
    margin-bottom: 0;
}

form #state {
    width: 60px;
}

#cityStateGrid {
    display: grid;
    grid-template-columns: 1fr 60px;
    align-items: start;
    gap: 20px;
}

span.confirm,
span.error {
    width: 100%;
    max-width: 600px;
    display: block;
    color: #14ae2b;
    font-size: 12px;
    text-align: right;
    height: 20px;
    font-weight: 700;
}

span.confirm {
    color: #14ae2b;
}

span.error {
    color: #ff0000;
}

form button {
    background-color: #7F2714;
    color: #ffffff;
    display: inline-block;
    outline: none;
    border: 2px solid #7F2714;
    width: 49%;
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}

form button.outline {
    background-color: transparent;
    color:#7F2714;
    margin-right: 2%;
}

form button.big {
    width: 100%;
    max-width: 600px;
}

form button.disabled {
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

form button.disabled:hover {
    background-color: #bbbbbb;
    border-color: #bbbbbb;
    cursor: default;
}

form button:hover {
    background-color: #FF9F06;
    border-color: #FF9F06;
    color: #ffffff;
}

.register {
    margin-top: 5px;
    color:#FF9F06;
}

.register a {
    color:#7F2714;
}

.register a:hover {
    color:#FF9F06;
    text-decoration: underline;
}

#register #password,
#register #checkPassword {
    margin-bottom: 5px;
}

#passwordRequirements {
    margin-bottom: 20px;
    text-align: left;
}

#passwordRequirements p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #ff0000;
}

#passwordRequirements p::before {
    content: 'x ';
}

#passwordRequirements p.valid {
    color: #037e2c;
}

#passwordRequirements p.valid::before {
    content: '\2713 ';
}