form {
    max-width: 600px;
    color: #7F2714;
}

form label {
    color: #FF9F06;
    display: block;
    font-size: 14px;
    width: 50%;
}

form input {
    border: 2px solid #7F2714;
    border-radius: 5px;
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.filledData {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

#gallons, #date {
    margin-bottom: 0;
}

form input:focus {
    outline: none;
    border-color: #FF9F06;
    color:#7F2714;
}

form input.error {
    border-color: #ff0000;
}

form #state {
    border: 2px solid #7F2714;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    background-color: #ffffff;
}

span.error {
    width: 100%;
    max-width: 600px;
    display: block;
    color: #ff0000;
    font-size: 12px;
    text-align: right;
    height: 20px;
    font-weight: 700;
}

form button {
    background-color: #7F2714;
    color: #ffffff;
    display: block;
    outline: none;
    border: none;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
}

form button:hover {
    background-color: #FF9F06;
}