#mainNav {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#mainNav a {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: #FF9F06;
    border: 1px solid #FF9F06;
    padding: 5px;
    width: calc(100% / 3 - 12px);
}

#mainNav a.active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #FF9F06;
}

#mainNav a:hover {
    background-color: #7F2714;
    border-color: #ffffff;
    color:#ffffff;
}

#logout {
    background-color: #7F2714;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    color: #ffffff;
}

#logout button {
    background-color: transparent;
    color: #FF9F06;
    display: inline-block;
    outline: none;
    border: none;
    margin-left: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#logout button:hover {
    color:#ffffff;
}

@media (min-width: 1200px) {

    #mainNav {
        width: auto;
        position: relative;
    }

    #mainNav a {
        display: block;
        text-align: center;
        color: #ffffff;
        background-color: #7F2714;
        border: 1px solid #ffffff;
        border-radius: 10px;
        margin: 10px;
        width: calc(100% - 32px);
    }
    
    #mainNav a:hover {
        background-color: #FF9F06;
        border-color: #FF9F06;
        color:#ffffff;
    }

    #logout {
        position: absolute;
        padding-bottom: 40px;
    }
    
    #logout button {
        background-color: #FF9F06;
        color: #ffffff;
        display: block;
        outline: none;
        border: none;
        width: 250px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        line-height: 30px;
    }

    #logout button:hover {
        background-color: #ffffff;
        color:#FF9F06;
    }

}